.container {
    width: auto;
    max-width: 800px;
    padding: 25px 25px 10px 25px;
}

a {
    text-decoration: none;
}

nav {
    width: 249px;
}

.heading {
    font-size: 25px;
}

.jumbotron {
    padding: 1rem 2rem 3rem 2rem;
    background-color: #f5dfdd;
    border-radius: 0.3rem;
    color: #6a6a6a;
    font-size: 14px;
}

    .jumbotron h1 {
        background-color: #920200;
        color: #ffffff;
        padding: 0.2em 0.1em;
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
    }

    .jumbotron a {
        color: #920200;
    }

blockquote {
    color: #aaa;
    font-size: 1.2em;
    font-style: italic;
    padding-left: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    top: -1em;
}

    .blockquote-icon {
        opacity: 15%;
        width: 20%;
        height: auto;
        position: relative;
        left: -20px;
        top: 30px;
    }

.ad {
    width: 300px;
    height: 275px;
    text-align: center;
}

.ad:before {
    content: 'ADVERTISEMENT';
    font-size: 9px;
    text-transform: uppercase;
    text-align: center;
    color: #8c8c8c;
    letter-spacing: 1px;
    margin: 3px 0;
    font-family: 'Arial',sans-serif;
    font-weight: 400;
    line-height: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

form {
    width: 75%;
    background-color: rgb(223, 223, 223);
    padding: 1em;
    border-radius: 1em;
}

label {
    font-size: 0.9em;
}

.screen-reader-only {
    position: absolute;
    width: 1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
}

.solution {
    color: #f00;
    font-weight: bold;
}

@media only screen and (max-width: 480px) {
    blockquote {
        padding-left: 1.4em;
    }
    .jumbotron h1 {
        font-size: 16px;
    }
}
